@model IEnumerable<ThinkBridgeUpdated.Models.MemberViewModel>

@{
    ViewBag.Title = "EditProduct";
}

<h2>EditProduct</h2>

<p>
    @Html.ActionLink("Edit Product", "Edit")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.ActionLink("Update", "Update", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Cancel", "Cancel", new { /* id=item.PrimaryKey */ }) |
        
        </td>
    </tr>
}

</table>
